@use '../../styles/mixin';
@use '../../styles/variables' as v;
@use '../../styles/functions' as f;

.bookContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 400px;
  padding: 5px;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 3px 2px 5px lightgray, -1px -1px 5px lightgray;

  .bookBody {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;

    .infoBook {
      width: 100%;

      .category {
        color: lighten($color: #000, $amount: 50);
        font-size: 0.9em;
        font-weight: bold;
      }

      .title {
        max-height: 40px;
        line-height: 18px;
        overflow-x: hidden;
        overflow-y: hidden;
      }

      .author {
        color: lighten($color: f.getcolor('primary'), $amount: 10);
        font-size: 0.9em;
        margin-top: 3px;
      }

      .buttonsContainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5px;
      }
    }

    .graphicContainer {
      width: 100%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  hr {
    background-color: lightgray;
    border: none;
    height: 2px;
    width: 90%;
    align-self: center;
  }

  .bookFooter {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__title {
      color: gray;
      font-family: v.$fontFamilyRobotoSlab;
    }

    .mt-20 {
      margin-top: 20px;
    }
  }
}

@include mixin.small {
  .bookContainer {
    height: 300px;

    .bookBody {
      flex-direction: row;

      .infoBook {
        width: 60%;

        .buttonsContainer {
          justify-content: start;
        }
      }

      .graphicContainer {
        width: 40%;
        margin-top: 0;
      }
    }
  }
}

@include mixin.customMin (580) {
  .bookContainer {
    flex-direction: row;
    height: 150px;
    align-items: center;

    .bookBody {
      width: 70%;
    }

    hr {
      height: 90%;
      width: 2px;
    }

    .bookFooter {
      height: 100%;
      width: 30%;
      justify-content: center;
      align-items: flex-start;
      margin-left: 20px;
    }
  }
}
