$colors: (
  "primary": rgb(62, 62, 255),
);

$breakPoints: (
  'base': 0,
  'small': 480px,
  'medium': 768px,
  'large': 960px,
  'xlarge': 1200px,
);

$fontFamilyRoboto: 'Roboto', sans-serif;
$fontFamilyRobotoSlab: 'Roboto Slab', serif;
