@use '../1_abstracts/variables' as v;

.button {
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s linear;
}

.btn1 {
  @extend .button;

  border: none;
  color: map-get($map: v.$colors, $key: "primary");
  font-weight: 400;
  padding: 0 3px;
  margin: 3px;

  &:hover {
    transform: scale(1.01);
  }
}

.btn2 {
  @extend .button;

  border: none;
  color: white;
  border-radius: 3px;
  padding: 3px;
  background-color: map-get(v.$colors, "primary");

  &:hover {
    background-color: lighten(map-get(v.$colors, "primary"), $amount: 5);
    transform: scale(1.01);
  }
}
